 <template>
  <div id="app">
    <AddTodo v-on:add-todo="addTodo" />
    <Todos v-bind:todos="todos" v-on:del-todo="deleteTodo" 
    v-on:update-todo="updateTodo"/>
  </div>
</template>


<script>
import * as api from '../scripts/api';
import Todos from '../components/Todos';
import AddTodo from '../components/AddTodo';

export default {
  name: 'Home',
  components: {
    Todos,
    AddTodo
  },
  data() {
    return {
      todos: []
    }
  },
  methods: {
      async deleteTodo(id) {
        try {
          await api.deleteTodo(id)
        } catch (e) {
            alert(e);
        }
        this.todos = this.todos.filter(todo => todo.id !== id)
      },
      async addTodo(newTodo) {
        const { name } = newTodo;
        if (name == "") {
            alert("Please enter a todo that is not empty !!!");
            return false;
        }
        
        try {
          const todo = await api.createTodo(name)
          this.todos = [...this.todos, todo];
        } catch (e) {
            alert(e);
        }
        
      },
      async updateTodo(id, newName) {
        if (newName == "") {
          alert("Please enter a todo that is not empty !!!");
          return false;
        }
        try {
            await api.updateTodo(id, newName);
            const todoIndex = this.todos.findIndex( todo => todo.id === id );
            this.todos[todoIndex].name = newName
        } catch (e) {
            alert(e);
        }
    }
    },
    async created() {
        try { 
            this.todos = await api.getTodos();
        } catch (e) {
            alert(e);
      }
    }
}   
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  .btn:hover {
    background: #666;
  }
</style>