 <template>
  <div>
    <form @submit.prevent="addTodo">
      <input type="text" v-model="name" name="name" placeholder="Add Todo...">
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
</template>

<script>
export default {
  name: "AddTodo",
  data() {
    return {
      name: ''
    }
  },
  methods: {
    addTodo() {
      const newTodo = {
        name: this.name
      }

      this.$emit('add-todo', newTodo);
      this.name = '';
    }
  }
}
</script>

<style scoped>
  form {
    display: flex;
  }
  input[type="text"] {
    flex: 10;
    padding: 5px;
  }
  input[type="submit"] {
    flex: 2;
  }
</style>
