<template>
  <div class="todo-item">
    <p>
      <input
        v-bind:value="todo.name"
        v-on:input="todo.name = $event.target.value">
      <button @click="$emit('update-todo', todo.id, todo.name)">Update</button>
      <button @click="$emit('del-todo', todo.id)" class="del">Delete</button>
    </p>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["todo"]
}
</script>

<style scoped>
  .todo-item {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  
  .del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
</style>